<div id="main-body" class="d-flex flex-column min-h-100-vh">
  <header id="main-header">
    <mat-toolbar color="primary">
      <h1 class="mat-h1">Superheroes</h1>
      <button mat-button color="white" [routerLink]="['/']" routerLinkActive="mat-accent"
        [routerLinkActiveOptions]="{ exact: true }" class="ms-auto fs-4">
        List
      </button>
    </mat-toolbar>
  </header>

  <section id="main-content" class="d-flex flex-column flex-grow-1 w-100">
    <router-outlet></router-outlet>
  </section>
</div>
